#  This ipynb is used for Data preprocessing

In [18]:
import pandas as pd
from pandas_summary import DataFrameSummary
import matplotlib.pyplot as plt
bid = pd.read_csv("select.csv") #this csv file include the balanced/joint dataset from bid.csv and train.csv
bid.head()

,bid_id,bidder_id,auction,merchandise,device,time,country,ip,url,payment_account,address,outcome
0,20,af9c96944265cf541b3fe734a057821a825l7,jtxiv,office equipment,phone19,9759243263157894,hr,144.100.75.92,vasstdc27m7nks3,3e9073fb9219ceb4a1dc9dbb9e1acbe9dgj47,2367520c8d94e70f47f4e28e72004ef9kv3c5,1
1,36,52d8066e28f168e5bee769559ead307e1go7e,165y9,mobile,phone33,9759243315789473,us,240.205.85.43,azl6m5i5tg78c2j,f33942502654584b5e7c6fc8cdc5ca6a6a8r2,62f961e661aa27c8b6b4726537f4209c0jool,1
2,47,46a28eaed47c29b4fd148a50cde44840u0bsn,5h9tv,mobile,phone44,9759243421052631,in,94.210.47.16,4efsnqzirqtxasm,b5445055af775b6cbd13e1872b97f8f1jhbrd,a713e4323ca6330ec8b6ae4a87ecf99b1497i,1
3,55,b1863365ae232a316eb946ba56a29415m0gdz,c8cgg,home goods,phone4,9759243473684210,vn,208.207.224.110,vasstdc27m7nks3,3e9073fb9219ceb4a1dc9dbb9e1acbe9zsgm1,e8832d1597661a09fc47c8ad4514176e3ulb5,1
4,107,e12177ff9c1a8413996f7b1a590980c82ofeo,fi8mh,sporting goods,phone81,9759243736842105,uk,91.53.170.204,457usxujudk2tc9,4ceb0ecc3a5bf6988c1639c112ea88eaoit7w,acb0169abfffe7093ba53f8a4472ff4b14lk7,1

# determine if missing value observed

In [19]:

bid = bid.dropna()
pd.isnull(bid).any()

bid_id             False
bidder_id          False
auction            False
merchandise        False
device             False
time               False
country            False
ip                 False
url                False
payment_account    False
address            False
outcome            False
dtype: bool

# normalization

In [20]:
#normalize "time" column
bid["time"]=((bid["time"]-bid["time"].min())/(bid["time"].max()-bid["time"].min()))*100
#combine.sample(5)

In [21]:
# change all device data to numerical value by subtracting "phone" in string
bid['device']=bid['device'].str.strip('phone')
bid['device']=bid['device'].astype(int)
bid.sample(5)

,bid_id,bidder_id,auction,merchandise,device,time,country,ip,url,payment_account,address,outcome
107778,182083,a58ace8b671a7531c88814bc86b2a34cf0crb,y58n4,sporting goods,20,12.472924,ke,93.79.83.168,wkhngpfau4djyua,a3d2de7675556553a5f08e4c88d2c22817wsw,a3d2de7675556553a5f08e4c88d2c228qg5i2,0
57498,31926,a58ace8b671a7531c88814bc86b2a34cf0crb,5qlmn,sporting goods,195,2.089326,ke,232.229.248.202,vasstdc27m7nks3,a3d2de7675556553a5f08e4c88d2c22817wsw,a3d2de7675556553a5f08e4c88d2c228qg5i2,0
37651,622092,b1863365ae232a316eb946ba56a29415m0gdz,pb9ng,home goods,4,79.238536,vn,172.158.179.84,vasstdc27m7nks3,3e9073fb9219ceb4a1dc9dbb9e1acbe9zsgm1,e8832d1597661a09fc47c8ad4514176e3ulb5,1
76222,88983,dd055846eb553ab8e953b084f2048d53bdqec,guub6,mobile,262,5.605538,lb,184.181.95.136,vasstdc27m7nks3,a3d2de7675556553a5f08e4c88d2c228vml44,a3d2de7675556553a5f08e4c88d2c2289kr8s,0
42505,675459,d2704c8bb6ebbf13e08f37131382b126wy4yc,lae7k,mobile,98,86.668653,in,164.110.104.182,eodocup09wg94e5,308f53abff7d25a618069ec8b74feecexmpf3,a3d2de7675556553a5f08e4c88d2c228djz03,1

#

In [22]:
#Rank and normalize all values from "merchandise" to range [0.1,1]
bid['merchandise']=bid['merchandise'].str.replace('books and music','0.1')
bid['merchandise']=bid['merchandise'].str.replace('office equipment','0.2')
bid['merchandise']=bid['merchandise'].str.replace('computers','0.3')
bid['merchandise']=bid['merchandise'].str.replace('clothing','0.4')
bid['merchandise']=bid['merchandise'].str.replace('home goods','0.5')
bid['merchandise']=bid['merchandise'].str.replace('furniture','0.6')
bid['merchandise']=bid['merchandise'].str.replace('sporting goods','0.7')
bid['merchandise']=bid['merchandise'].str.replace('auto parts','0.8')
bid['merchandise']=bid['merchandise'].str.replace('mobile','0.9')
bid['merchandise']=bid['merchandise'].str.replace('jewelry','1.0')
merchandise=bid[ "merchandise" ].unique( )
print(merchandise) # showing all categories after processed in "merchandise" colum

['0.2' '0.9' '0.5' '0.7' '0.3' '1.0' '0.1' '0.6' '0.8' '0.4']

In [23]:

#check how many different/uniqe values in each features
bidder_id=bid[ "bidder_id" ].unique( )
print('bidder_id',len(bidder_id))
bid_id=bid[ "bid_id" ].unique( )
print('bid_id',len(bid_id))
auction=bid[ "auction" ].unique( )
print('auction',len(auction))
merchandise=bid[ "merchandise" ].unique( )
print('merchandise',len(merchandise))
device=bid[ "device" ].unique( )
print('device',len(device))
country=bid[ "country" ].unique( )
print('country',len(country))
url=bid[ "url" ].unique( )
print('url',len(url))
payment_account=bid[ "payment_account" ].unique( )
print('payment_account',len(payment_account))
address=bid[ "address" ].unique( )
print('address',len(address))

bidder_id 500
bid_id 114148
auction 3027
merchandise 10
device 2157
country 156
url 32050
payment_account 500
address 500

In [24]:
#beacause now bid table has a defaut header column, in order to get rid of that index column
#transfer to a new csv file "select2.csv"
#also because the payment_account and address are detected same when along with bidder_id, therefore, 
#these 2 columns are dropped when transfering
header =['bid_id','bidder_id','auction','merchandise','device','time','country','ip','url','outcome']
bid['outcome']=bid['outcome'].astype(int)
bid.to_csv('select2.csv',columns = header,index=False)

In [25]:
select = pd.read_csv("select2.csv")
select.head()

,bid_id,bidder_id,auction,merchandise,device,time,country,ip,url,outcome
0,20,af9c96944265cf541b3fe734a057821a825l7,jtxiv,0.2,19,0.002292,hr,144.100.75.92,vasstdc27m7nks3,1
1,36,52d8066e28f168e5bee769559ead307e1go7e,165y9,0.9,33,0.003438,us,240.205.85.43,azl6m5i5tg78c2j,1
2,47,46a28eaed47c29b4fd148a50cde44840u0bsn,5h9tv,0.9,44,0.005730,in,94.210.47.16,4efsnqzirqtxasm,1
3,55,b1863365ae232a316eb946ba56a29415m0gdz,c8cgg,0.5,4,0.006877,vn,208.207.224.110,vasstdc27m7nks3,1
4,107,e12177ff9c1a8413996f7b1a590980c82ofeo,fi8mh,0.7,81,0.012607,uk,91.53.170.204,457usxujudk2tc9,1

# Normalze data using LabelEncoder from scikitlearn. preprocessing library

In [26]:
from sklearn.preprocessing import LabelEncoder
country=select[ "country" ].unique( )
#print(source_labels.str.sort())
print(len(country))
label = LabelEncoder()
select[ "country" ] = label.fit_transform(select[ "country" ])
select.head()

156

,bid_id,bidder_id,auction,merchandise,device,time,country,ip,url,outcome
0,20,af9c96944265cf541b3fe734a057821a825l7,jtxiv,0.2,19,0.002292,57,144.100.75.92,vasstdc27m7nks3,1
1,36,52d8066e28f168e5bee769559ead307e1go7e,165y9,0.9,33,0.003438,147,240.205.85.43,azl6m5i5tg78c2j,1
2,47,46a28eaed47c29b4fd148a50cde44840u0bsn,5h9tv,0.9,44,0.005730,62,94.210.47.16,4efsnqzirqtxasm,1
3,55,b1863365ae232a316eb946ba56a29415m0gdz,c8cgg,0.5,4,0.006877,151,208.207.224.110,vasstdc27m7nks3,1
4,107,e12177ff9c1a8413996f7b1a590980c82ofeo,fi8mh,0.7,81,0.012607,146,91.53.170.204,457usxujudk2tc9,1

In [27]:
bidder_id=select[ "bidder_id" ].unique( )
print(len(bidder_id))
label = LabelEncoder()
select[ "bidder_id" ] = label.fit_transform(select[ "bidder_id" ])
select.head()

500

,bid_id,bidder_id,auction,merchandise,device,time,country,ip,url,outcome
0,20,365,jtxiv,0.2,19,0.002292,57,144.100.75.92,vasstdc27m7nks3,1
1,36,183,165y9,0.9,33,0.003438,147,240.205.85.43,azl6m5i5tg78c2j,1
2,47,158,5h9tv,0.9,44,0.005730,62,94.210.47.16,4efsnqzirqtxasm,1
3,55,368,c8cgg,0.5,4,0.006877,151,208.207.224.110,vasstdc27m7nks3,1
4,107,447,fi8mh,0.7,81,0.012607,146,91.53.170.204,457usxujudk2tc9,1

In [28]:
#bidder_id=select[ "auction" ].unique( )
#print(len(bidder_id))
label = LabelEncoder()
select[ "auction" ] = label.fit_transform(select[ "auction" ])
select.head()

,bid_id,bidder_id,auction,merchandise,device,time,country,ip,url,outcome
0,20,365,1670,0.2,19,0.002292,57,144.100.75.92,vasstdc27m7nks3,1
1,36,183,92,0.9,33,0.003438,147,240.205.85.43,azl6m5i5tg78c2j,1
2,47,158,427,0.9,44,0.005730,62,94.210.47.16,4efsnqzirqtxasm,1
3,55,368,1042,0.5,4,0.006877,151,208.207.224.110,vasstdc27m7nks3,1
4,107,447,1309,0.7,81,0.012607,146,91.53.170.204,457usxujudk2tc9,1

In [29]:
#url=select[ "url" ].unique( )
#print(len(url))
label = LabelEncoder()
select[ "url" ] = label.fit_transform(select[ "url" ])
select.head()

,bid_id,bidder_id,auction,merchandise,device,time,country,ip,url,outcome
0,20,365,1670,0.2,19,0.002292,57,144.100.75.92,27876,1
1,36,183,92,0.9,33,0.003438,147,240.205.85.43,9744,1
2,47,158,427,0.9,44,0.005730,62,94.210.47.16,3910,1
3,55,368,1042,0.5,4,0.006877,151,208.207.224.110,27876,1
4,107,447,1309,0.7,81,0.012607,146,91.53.170.204,3679,1

In [30]:
#ip=select[ "ip" ].unique( )
label = LabelEncoder()
select[ "ip" ] = label.fit_transform(select[ "ip" ])
select.head()

,bid_id,bidder_id,auction,merchandise,device,time,country,ip,url,outcome
0,20,365,1670,0.2,19,0.002292,57,10750,27876,1
1,36,183,92,0.9,33,0.003438,147,33590,9744,1
2,47,158,427,0.9,44,0.005730,62,53535,3910,1
3,55,368,1042,0.5,4,0.006877,151,25991,27876,1
4,107,447,1309,0.7,81,0.012607,146,52932,3679,1

# Set Scaling in columns to reduce problems occur with range

In [31]:
from sklearn import preprocessing
from sklearn.preprocessing import MinMaxScaler
temp = select[['auction']].values
scaler = preprocessing.MinMaxScaler(feature_range=(0,100))
scaled_values = scaler.fit_transform(temp) 
nornalized = pd.DataFrame(scaled_values)
select['auction'] = nornalized

temp = select[['device']].values
scaler = preprocessing.MinMaxScaler(feature_range=(0,100))
scaled_values = scaler.fit_transform(temp) 
nornalized = pd.DataFrame(scaled_values)
select['device'] = nornalized



temp = select[['ip']].values
scaler = preprocessing.MinMaxScaler(feature_range=(0,100))
scaled_values = scaler.fit_transform(temp) 
nornalized = pd.DataFrame(scaled_values)
select['ip'] = nornalized

temp = select[['url']].values
scaler = preprocessing.MinMaxScaler(feature_range=(0,100))
scaled_values = scaler.fit_transform(temp) 
nornalized = pd.DataFrame(scaled_values)
select['url'] = nornalized



select.head()

,bid_id,bidder_id,auction,merchandise,device,time,country,ip,url,outcome
0,20,365,55.188367,0.2,0.475238,0.002292,57,19.645109,86.979313,1
1,36,183,3.040317,0.9,0.825413,0.003438,147,61.384112,30.403445,1
2,47,158,14.111038,0.9,1.100550,0.005730,62,97.832642,12.200069,1
3,55,368,34.434898,0.5,0.100050,0.006877,151,47.497305,86.979313,1
4,107,447,43.258427,0.7,2.026013,0.012607,146,96.730688,11.479297,1

# Write a csv file as selectResult.csv for result of processed data

In [32]:

header =['bid_id','bidder_id','auction','merchandise','device','time','country','ip','url','outcome']

select.to_csv('selectResult.csv',columns = header,index=False)
select.head()

,bid_id,bidder_id,auction,merchandise,device,time,country,ip,url,outcome
0,20,365,55.188367,0.2,0.475238,0.002292,57,19.645109,86.979313,1
1,36,183,3.040317,0.9,0.825413,0.003438,147,61.384112,30.403445,1
2,47,158,14.111038,0.9,1.100550,0.005730,62,97.832642,12.200069,1
3,55,368,34.434898,0.5,0.100050,0.006877,151,47.497305,86.979313,1
4,107,447,43.258427,0.7,2.026013,0.012607,146,96.730688,11.479297,1